<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Page Not Found !</h3>
            <p class="text-muted m-t-30 m-b-30">Parece que encontraste un raton</p>
            <a routerLink="/" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Regresar al Inicio</a> </div>
        <footer class="footer text-center">© {{ anio }} Admin Pro.</footer>
    </div>
</section>