<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarMedicos(input.value)" type="text" class="form-control" placeholder="Buscar médico">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/medico', 'nuevo']" class="btn waves waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i> Crear Médico
                    </button>
                </div>

                <h3 class="card-title">Médicos registrados ( <small> {{ _medicoService.totalMedicos }} </small> )</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Hospital</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>
                                    <img [src]="medico.img | imagen:'medico'" class="img-50 img-circle">
                                </td>
                                <td>{{ medico.nombre }}</td>
                                <td>{{ medico.hospital.nombre }}</td>
                                <td>
                                    <button [routerLink]="['/medico', medico._id]" class=" btn btn-primary "><i class="fa fa-edit "></i></button>
                                    <button (click)="borrarMedico(medico)" class="btn btn-danger "><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button *ngIf="desde> 0" (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">
                    Anteriores
                </button>

                <button *ngIf="(desde+5) < _medicoService.totalMedicos" (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">
                    Siguiente
                </button>

            </div>
        </div>
    </div>
</div>