<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Médico: {{ medico.nombre }}</h3>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarMedico(f)">
                        <div class="form-group">
                            <label for="inputNombre">Nombre del médico</label>
                            <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" id="inputNombre" placeholder="Nombre del médico" required>
                        </div>
                        <div class="form-group">
                            <label for="inputHospital">Hospital</label>
                            <select (change)="cambioHospital( $event.target.value )" [(ngModel)]="medico.hospital" name="hospital" id="inputHospital" class="form-control" required>
                              <option value="">Seleccione Hospital</option>
                              <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                                {{ hospital.nombre }}
                              </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="f.invalid">
                          <i class="fa fa-save"></i> Guardar
                        </button>
                        <a routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">
                          Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-3" [ngClass]="col"> -->
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Hospital: {{ hospital.nombre }}</h4>
            <br>
            <img [src]="hospital.img | imagen:'hospital'" class="img-fluid rounded">
        </div>
    </div>

    <div class="col-md-3" *ngIf="medico._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Fotografía</h4>
            <br>
            <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medico'" class="img-fluid img-circle pointer">
        </div>
    </div>

</div>