<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospitales(input.value)" type="text" class="form-control" placeholder="Buscar hospital">

            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn btn-rounded btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> Crear Hospital
                    </button>
                </div>
                <h3 class="card-title">
                    Hospitales registrados (<small>{{ totalRegistros }}</small>)
                </h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td class="w70">
                                    <img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                                </td>
                                <td>
                                    <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control">
                                </td>
                                <td>
                                    <button (click)="guardarHospital(hospital)" class=" btn btn-primary "><i class="fa fa-save "></i></button>
                                    <button (click)="borrarHospital(hospital)" class="btn btn-danger "><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button *ngIf="desde> 0" (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">
                    Anteriores
                </button>

                <button *ngIf="(desde+5) < totalRegistros" (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">
                    Siguiente
                </button>

            </div>
        </div>
    </div>
</div>